#set( $layout = "/layout.vm")
<style>
    .div1 {
        width: 100%;
        height: 150px;
        text-align: center;
        line-height: 150px;
        font-size: 50px;
        color: #ff6600;
        font-weight: bold;
    }

    li {
        list-style: none;
        width: 94%;
        margin-top: 70px;
        margin-left: 6%;
    }

    span {
        font-size: 38px;
        float: left;
        text-align: right;
        line-height: 82px;
    }

    input {
        height: 75px;
        margin-left: 35px;
        padding-left: 20px;
        border: 1px solid #C3C1C1;
        font-size: 47px;
    }

    .sws_btn {
        display: block;
        width: 80%;
        height: 83px;
        background: #a86900;
        font-size: 40px;
        line-height: 85px;
        text-align: center;
        margin-left: 10%;
        color: #fff;
        text-decoration: none;
        margin-top: 85px;
        border-radius: 8px;
    }
</style>

<h1>欢迎你，$!name</h1>
<div style="margin-top: 222px">
      <!--<div onclick="saomiao();" style="width: 100px;height: 100px;text-align: center;background-color: #00c800">扫描</div>-->
    <div class="div1">
        报告单查询
    </div>
    <div>
        <form method="post" action="/reportApplication/jydList">
            <li>
                <span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</span>
                <input type="text" class="outline mypos" name="patientName"/>
            </li>

            <li>
                <span>单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</span>
                <img src="/images/erweima.jpg" style="width: 70px;height: 70px;position: absolute;right: 15%" onclick="saomiao();"/>
                <input type="text" class="outline mypos" name="cardNum" value="330324198202095088"/>

            </li>

            <a class="sws_btn" href="javascript:void(0);" onclick="examineList();">确定</a>
        </form>
    </div>
</div>
<input type="hidden" id="appid" value=$!appid /><br>
<input type="hidden" id="timestamp" value=$!timestamp /><br>
<input type="hidden" id="noncestr" value=$!noncestr /><br>
<input type="hidden" id="signature" value=$!signature />
<script>
    function examineList() {
        $("form").submit();
    }
    wx.config({
            beta: true,// 必须这么写，否则wx.invoke调用形式的jsapi会有问题
            debug:false,
            appId: $('#appid').val(), // 必填，企业微信的corpID
            timestamp: $('#timestamp').val(), // 必填，生成签名的时间戳
            nonceStr: $('#noncestr').val(), // 必填，生成签名的随机串
            signature: $('#signature').val(),// 必填，签名，见附录1
            jsApiList: ['hideOptionMenu','scanQRCode'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.ready(function () {
            // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
            wx.hideOptionMenu();
    });
    function saomiao() {
        wx.scanQRCode({
            desc: 'scanQRCode desc',
            needResult: 1, // 默认为0，扫描结果由企业微信处理，1则直接返回扫描结果，
            scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
            success: function(res) {
                // 回调
               // alert(JSON.stringify(res));
                alert(res.resultStr);
            },
            error: function(res) {
                if (res.errMsg.indexOf('function_not_exist') > 0) {
                    alert('版本过低请升级')
                }
            }
        });
    }



</script>