<html>
<head>
    <title>个人应用</title>
    <style>
        #mrmy {
            animation: change 10s linear 0s infinite;
            font-size: 30px;
            font-weight: 100%;
        }

        @keyframes change {
            0% {
                color: #333;
            }
            25% {
                color: #ff0;
            }
            50% {
                color: #f60;
            }
            75% {
                color: #cf0;
            }
            100% {
                color: #f00;
            }
        }
    </style>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        wx.config({
            beta: true,// 必须这么写，否则wx.invoke调用形式的jsapi会有问题
            debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '', // 必填，企业微信的corpID
            timestamp: , // 必填，生成签名的时间戳
            nonceStr: '', // 必填，生成签名的随机串
            signature: '',// 必填，签名，见附录1
            jsApiList: [] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
    </script>
</head>
<body>
<div id="mrmy">
    <div>
        <img src="/images/banner_bd.jpg">
    </div>

    #if($!errcode == '0')

        <div>欢迎你: $!name,你的手机号码是: $!mobile</div>

        <div>
            $!randomMrmy
        </div>
    #else
      $!errmsg
    #end
</div>
</body>
</html>